h1 {
    display: flex;
    justify-content: center;

    position: relative;
    right: 1.5%;

}

.chess-board {
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: auto auto;
    
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;

  }
  
  .main-board {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    width: 400px;
    border: solid 2px black;
  }
  
  .square {
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    color: crimson;
  }
  
  .white-square {
    background: white;
  }
  
  .dark-square {
    background: black;
  }


.boxOp{
    width: auto;
    height: auto;

    margin: 0;
    position: absolute;
    top: 84%;
    left: 48.5%;
    transform: translate(-50%, -50%);
  }

.boxOp button {
  margin-top: 5px;
}